#omnipresent 
    width: 100%
    min-width: 1040px
    height: 80px
    position: fixed
    z-index: 500
    background: url(/images/omni_horizon.png) repeat-x transparent
    border-top: 4px solid #5295cd


omnipresent #nav 
    width: 340px
    float: right
    padding-right: 100px
    padding-top: 24px


#omnipresent #brand 
    position: fixed
    left: 100px


#omnipresent #logo
    width: 137px
    height: 125px
    background: url(/images/logo_new.png)
    background-position: 0 0
    float: left
    /*margin-left: 100px*/
    position: relative
    top: -6px


#omnipresent #wordmark 
    background: url(/images/wordmark.png)
    width: 220px
    height: 24px
    float: left
    position: relative
    top: 46px


#omnipresent #mainNav 
    margin: 0
    padding: 0
    text-align: right


#omnipresent #mainNav li 
    display: inline
    list-style-type: none
    text-align: right
    font-size: 20px
    cursor: pointer
    font-family: "Lato", sans-serif
    font-weight: 300
    text-transform: uppercase

    letter-spacing: 1px
    color: white
    text-decoration: none
    margin-left: 20px
    padding: 1px
    position:relative
    opacity: 0.8
    -moz-opacity: 0.8
    -webkit-opacity: 0.8


#omnipresent #mainNav li:hover 
    opacity: 1.0
    -moz-opacity: 1.0
    -webkit-opacity: 1.0


#omnipresent #subNav 

    height: 24px
    margin: 0
    top: 22px

    


#omnipresent #subNav a, #omnipresent #subNav button  
    padding-top: 4px
    padding-left: 10px
    font-size: 7pt
    letter-spacing: 1px
    text-transform: uppercase
    float: right
    color: rgba(255,255,255,0.4)
    text-decoration: none
    margin: 0
    position: relative


#omnipresent #subNav a.social 
    margin: 0
    opacity: 0.3
    padding: 0 5px 0 0
    position: relative
    top: -1px


#omnipresent #subNav a.social:hover 
    opacity: 1.0
    -moz-opacity: 1.0
    -webkit-opacity: 1.0


#omnipresent #subNav a:hover 
    color: rgba(255,255,255,1.0)


#omnipresent #subNav form input 
    border: 0


#omnipresent #subNav a.donate 
    background-color: rgba(255,255,255,0.9)
    border-radius: 15px
    border: 0
    padding: 5px 16px 3px
    -webkit-box-shadow: 1px 1px 1px #101010
    box-shadow: 1px 1px 1px #101010
    color: black
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29) 
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29)
    box-shadow: 1px 1px 1px rgba(0,0,0, .29) 



#omnipresent #subNav a.donate:hover 
    background-color: rgba(255,255,255,1.0)

